 * {
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 font-family: sans-serif;
}

body{
    display:flex;
    justify-content: center;
    align-items: center;
    margin:2rem
}

#clock h1 {
    display:flex;
    align-items:center;
    color: #d52424;
    text-align: center;
    margin:1rem;
    margin-left:3rem
}

#clock #time {
    display: flex;
}

#clock #time div {
    margin:1rem
}

#clock #time div span {
    width: 100px;
    height: 100px;
    background: #ff007a;
    color: #fff;
    font-weight: 300;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 3em;
    z-index: 10;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
}

#clock #time div span:nth-child(2) {
    font-size: 0.7em;
    letter-spacing: 0.2em;
    font-weight: 500;
    z-index: 9;
    box-shadow: none;
    background: #ec0062;
    text-transform: uppercase;
}

footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background: #ff007a;
    color: #fff;
    font-weight: 300;
    box-shadow: 0 0 0 1px rgba(0,0,0,0.2);
   margin:1rem ;
    letter-spacing:2px
} 